In [ ]:
# ‚úÖ Division üÜö Floor Division (Integer Division) üÜö Remainder

list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in list(range(1, 11)):
  print(i % 2) # Reminder: ONLY 0 or 1 (if divided by 2) ‚ö°üß†

1
0
1
0
1
0
1
0
1
0

In [ ]:
for i in list(range(1, 11)):
  print(i / 2) # Division

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

In [ ]:
for i in list(range(1, 11)):
  print(i // 2) # Floored-division or Integer Division

0
1
1
2
2
3
3
4
4
5

In [ ]:
# ‚úÖ Review on the difference between 
# result.append üÜö result.extend

In [ ]:
# ‚ö°üß† append: insert a List into another List
# Append will perverse the originial pattern of the list

num_list = list(range(1, 6))

my_list = ['Joseph', 'Yu']


num_list.append(my_list)

print(num_list)

[1, 2, 3, 4, 5, ['Joseph', 'Yu']]

In [ ]:
num_list = list(range(1, 6))

my_list = ['Joseph', 'Yu']


my_list.append(num_list)

print(my_list)

['Joseph', 'Yu', [1, 2, 3, 4, 5]]

In [ ]:
# 1 of 2 Extend: break every single element into pieces, then append to list
# Extend will break the original list pattern
# üëç most use cases

num_list = list(range(1, 6))

my_list = ['Joseph', 'Yu']


num_list.extend(my_list)

print(num_list)

[1, 2, 3, 4, 5, 'Joseph', 'Yu']

In [ ]:
# 2 of 2 Extend: break every single element into piecces, then append to list
# extend('String') will break all letters into atomic pieces
# üëÄ It even includes the space ' ' as an element - BE CAUTIOUS

num_list = list(range(1, 6))

num_list.extend('Joseph Yu')

print(num_list)

[1, 2, 3, 4, 5, 'J', 'o', 's', 'e', 'p', 'h', ' ', 'Y', 'u']